body {
  font-family: arial, cursive, sans-serif;

}

/*header */

.title {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;

/*navigation */


.nav ul {

  list-style-type: none;
  text-align: center;
  margin: 0px;
}

.nav li {

  background-color: orange;
  display: inline-block;
  padding: 10px;
  margin: 1px 0px 1px 0px;

}

.nav a {
  text-decoration: none;
  color: white;
}

.sixphoto h2{
  background-color: purple;
  margin: 5px 0px 5px 0px;
  padding: 10px 10px;
  font-size: 24px;
  color: orange
}

.sixphoto b {
  text-decoration: underline;
  text-decoration-color: red;
}


/*images*/

.pic {
  display: inline-block;
  width: 33%;
  margin-bottom: -3px;
  margin-top: 5px;
}

.pic img {

    width: 100%;
}

.picedit {
  text-align: center;
  background-color: lime;
  margin: 0px 0px 5px 0px;
}


.copyright {
  background-color: black;
  margin: 20px 0px 0px 0px;

}

.copyright p  {
  text-align: center;
  color: white;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10px;

}
